<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css" type="text/css">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <strong>{{ courses.getCourseName}}</strong><a href="/course/{{ courses.getId }}/edit"> Edit</a>
        {% if students is not empty %}
            {% for student in students %}
                <ul>
                    <li>{{ student.getName }}</li>
                    <li>{{ student.getEnrollDate }}</li>
                </ul>
            {% endfor %}
        {% endif %}

        <form action="/add_to_course" method="post">
            <input id="course_id" name="course_id" type="hidden" value="{{ courses.getId }}">

            <label for="student_id">Select a Student</label>
            <select id="student_id" name="student_id" type="text">
                {% for student in all_students %}
                <option value="{{ student.getId }}"> {{ student.getName }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-danger" type="submit">Add Student</button>
        </form>

        <form action="/course/{{ courses.getId }}" method="post">
              <input name="_method" type="hidden" value="delete">
            <button class="btn btn-info" type="submit">Delete course</button>
        </form>
        <a href="/">Home</a>
    </body>
</html>
